@model List<Product>
<div class="container">
    <div class="row">
        <h2>Products</h2>
        <div class="row">
            <a class="btn btn-success col-2" asp-action="Create">Create</a>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">MainImage</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th>Category Name</th>

                    <th scope="col">Actions</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <th scope="row">@product.Id</th>
                        <td>
                            <img src="~/assets/images/shipping/@product.MainImage"
                                 width="30" height="30" />
                        </td>
                        <td>@product.Name</td>
                        <td>@product.Price</td>
                        <td>@product.Category.Name</td>

                        <td>
                            <a class="btn btn-warning" asp-action="Update" asp-route-id="@product.Id">Update</a>
                            <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger deleteBtn">Delete</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const deleteButtons=document.querySelectorAll(".deleteBtn");
    deleteButtons.forEach(btn=>{
        btn.addEventListener('click',(e)=>{
            e.preventDefault();
            const swalWithBootstrapButtons = Swal.mixin({
  customClass: {
    confirmButton: "btn btn-success",
    cancelButton: "btn btn-danger"
  },
  buttonsStyling: false
});
swalWithBootstrapButtons.fire({
  title: "Are you sure?",
  text: "You won't be able to revert this!",
  icon: "warning",
  showCancelButton: true,
  confirmButtonText: "Yes, delete it!",
  cancelButtonText: "No, cancel!",
  reverseButtons: true
}).then((result) => {
  if (result.isConfirmed) {
    swalWithBootstrapButtons.fire({
      title: "Deleted!",
      text: "Your file has been deleted.",
      icon: "success"
    });
      window.location.href = btn.href;
  } else if (
    /* Read more about handling dismissals below */
    result.dismiss === Swal.DismissReason.cancel
  ) {
    swalWithBootstrapButtons.fire({
      title: "Cancelled",
      text: "Your imaginary file is safe :)",
      icon: "error"
    });
  }
});
        })
    })

</script>